<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.dao.CityMapper">
  <resultMap id="BaseResultMap" type="com.nf147.model.City">
    <id column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="privance_id" jdbcType="INTEGER" property="privanceId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from city
    where city_id = #{cityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.model.City">
    insert into city (city_id, city_name, privance_id
      )
    values (#{cityId,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, #{privanceId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.model.City">
    update city
    set city_name = #{cityName,jdbcType=VARCHAR},
      privance_id = #{privanceId,jdbcType=INTEGER}
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select city_id, city_name, privance_id
    from city
    where city_id = #{cityId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select city_id, city_name, privance_id
    from city
  </select>
</mapper>