<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.dao.DeliveryReceiptMapper">
  <resultMap id="BaseResultMap" type="com.nf147.model.DeliveryReceipt">
    <id column="delivery_receipt_id" jdbcType="INTEGER" property="deliveryReceiptId" />
    <result column="start_city" jdbcType="VARCHAR" property="startCity" />
    <result column="end_city" jdbcType="VARCHAR" property="endCity" />
    <result column="mid_city" jdbcType="VARCHAR" property="midCity" />
    <result column="make_dtae" jdbcType="TIMESTAMP" property="makeDtae" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from delivery_receipt
    where delivery_receipt_id = #{deliveryReceiptId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.model.DeliveryReceipt">
    insert into delivery_receipt (delivery_receipt_id, start_city, end_city, 
      mid_city, make_dtae, remarks
      )
    values (#{deliveryReceiptId,jdbcType=INTEGER}, #{startCity,jdbcType=VARCHAR}, #{endCity,jdbcType=VARCHAR}, 
      #{midCity,jdbcType=VARCHAR}, #{makeDtae,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.model.DeliveryReceipt">
    update delivery_receipt
    set start_city = #{startCity,jdbcType=VARCHAR},
      end_city = #{endCity,jdbcType=VARCHAR},
      mid_city = #{midCity,jdbcType=VARCHAR},
      make_dtae = #{makeDtae,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR}
    where delivery_receipt_id = #{deliveryReceiptId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select delivery_receipt_id, start_city, end_city, mid_city, make_dtae, remarks
    from delivery_receipt
    where delivery_receipt_id = #{deliveryReceiptId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select delivery_receipt_id, start_city, end_city, mid_city, make_dtae, remarks
    from delivery_receipt
  </select>
</mapper>